<a href="https://colab.research.google.com/github/AravindR7/flask-app/blob/master/Titanic-data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# Load the dataset
!wget https://raw.githubusercontent.com/elizabethts/deploy-mlm-flask-heroku/master/titanic.csv

--2020-03-19 18:25:43--  https://raw.githubusercontent.com/elizabethts/deploy-mlm-flask-heroku/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61194 (60K) [text/plain]
Saving to: ‘titanic.csv.1’

titanic.csv.1       100%[===================>]  59.76K  --.-KB/s    in 0.008s

2020-03-19 18:25:43 (7.27 MB/s) - ‘titanic.csv.1’ saved [61194/61194]

In [19]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

# Create data frame
train = pd.read_csv('/content/titanic.csv')
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
# drop the null values
train.dropna(inplace=True)

In [21]:
# features and target values 
target = 'Survived'
features = ['Pclass', 'Age', 'SibSp', 'Fare']

# X matrix, y vector
X = train[features]
y = train[target]

# model
model = LogisticRegression()
model.fit(X, y)
model.score(X, y)

0.7103825136612022

In [0]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))

In [0]:
# test flask inproduction
import requests 
import json

In [24]:
# local url
url = 'http://127.0.0.1:5000'

# test data
data = {  'Pclass': 3
             , 'Age': 2
             , 'SibSp': 1
             , 'Fare': 50}

data = json.dumps(data)
data

'{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}'

In [0]:

send_request = requests.post(url, data)
print(send_request)

In [0]:
print(send_request.json())

In [27]:
# Test App in Heroku
heroku_url = 'https://flask-model-app.herokuapp.com' # change to your app name

# test data
data = {'Pclass': 3
      , 'Age': 2
      , 'SibSp': 1
      , 'Fare': 50}

data = json.dumps(data)
data

'{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}'

In [28]:
send_request = requests.post(heroku_url, data)
print(send_request)

<Response [503]>

In [0]:
# get prediction
print(send_request.json())